.gridLayout {
  display              : grid;
  grid-template-columns: repeat(3, 150px);
  grid-row-gap         : 10px;
  grid-column-gap      : 10px;
}

.gridItem {
  display            : inline-flex;
  width              : 120px;
  height             : 150px;
  align-items        : center;
  justify-content    : center;
  box-sizing         : border-box;
  perspective        : 300px;
}

@keyframes shufflingAnim {
  0% {
    left: 0;
  }

  25% {
    left: -20px;
  }

  50% {
    left: 20px;
  }

  to {
    left: 0;
  }
}

.shuffling {
  position: relative;
  animation-name: shufflingAnim;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}